body{
    background-color: #090d1b;
    font-family: 'Lato', sans-serif;
    color: white;
    margin: 0;
}
.container{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: rgb(3, 102, 194);
    padding-top: 20px;
}

.postkard{
    float: left;
    margin-right: 20px;
    text-align: center;
    margin: 10px;
    
}

h2{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
a:link{
    color: #fff;
    text-decoration: none;
}

a:visited{
    color: #fff;
}

a:hover{
    color: #fff;
}
a:active{
    color: #fff;
}
.foto1{
    width: 450px;
    transition: all 0.2s ease-in-out ;
}
.foto1:hover{

    transform: scale(0.9) ;
    -webkit-transform: scale(0.9) ;
   -ms-transform: scale(0.9) ;

    
}
.foto2{
    width: 450px;
    transition: transform .2s ease-in-out;
}

.foto2:hover{
    transform: scale(0.95) rotate(5deg);
    -webkit-transform: scale(0.95) rotate(5deg);
    -ms-transform: scale(0.95) rotate(5deg);
}


.foto3{
    width: 450px;
}

.overlay{
    position: relative;
    width: 450px;
    height: 278px;
}
.overlay .link{
    position: absolute;
    display:block;
    width: 450px;
    height: 65px;
    background-color: #111;
    left: 0px;
    bottom: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
.overlay:hover .link {
    opacity: 0.8;

}

.foto4{
    width:450px;
}


.overlatT{
    position: relative;
    width: 450px;
    height: 278px;
}
.overlatT .link{
    position: absolute;
    display:block;
    width: 100%;
    height: 100%;
    background-color: #27a38d;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

}
.overlatT:hover .link {
    opacity: 0.9;

}
.lupa p{
    font-size: 25px;
}
.foto5{
    width: 450px;
    height: 278px;
    overflow: hidden;
}
.foto5 img{
    transition: all 0.5s  ease-in-out;
}
.foto5:hover img{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
}


.foto6{
    width: 450px;
    height: 278px;
    overflow: hidden;
}
.foto6 img{
    transition: all 0.7s  ease-in-out;
}
.foto6:hover img{
    transform: scale(1.2) rotate(-5deg);
    -webkit-transform: scale(1.2) rotate(-5deg);
    -ms-transform: scale(1.2) rotate(-5deg);
}

